a {
    text-decoration: none
}

ol,
ul {
    list-style: none
}

a,
article,
blockquote,
body,
dd,
div,
dl,
dt,
em,
fieldset,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
iframe,
img,
label,
legend,
li,
main,
nav,
ol,
p,
section,
span,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    font-size: 1em;
    font-weight: 400
}