.topo-do-site {
    width: 100%;
    height: 800px;
    background: url(../img/banner.png) no-repeat center center;
    background-size: cover;
}

.topo-do-site h1 {
    font-size: Poppins;
    color: white;
    font-size: 33px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 380px;
}

.topo-do-site p{
    font-family: Montserrat;
    color: #feec00;
    font-weight: bold;
    margin-top: 15px;
}

.cor {
    color: #feec00;
}

.botao {
    border: none;
    background: linear-gradient(#00c3fa, #0060eb);
    padding: 23px;
    color: white;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 20px;
}

.botao:hover{
    background: linear-gradient(rgba(65, 243, 48, 0.884), rgb(11, 56, 10));
}

/* Style Secao 1 */
.secao-1 h2 {
    font-family: Poppins;
    font-size: 31px;
    color: #082996;
    font-weight: bold;
    margin-top: 90px;
}

.secao-1 p {
    font-family: Poppins;
    margin-top: 20px;
}

.imagens-secao {
    padding-top: 130px;
}

/* Style Secao 2 */
.secao-2 {
    background: url(/img/eletricista.png) no-repeat center center;
    background-size: cover;
    height: 478px;
    margin-top: 90px;
    margin-bottom: 80px;
}

.secao-2 h2 {
    font-family: Poppins;
    text-transform: uppercase;
    font-size: 31px;
    color: white;
    font-weight: bold;
    margin-top: 120px;

}

.secao-2 p{
    font-family: Poppins;
    color: white;
    margin-top: 15px;
}

.render {
    margin-top: 77px;
}

/* Style Secao 3 */
.secao-3 h2 {
    font-family: Poppins;
    text-align: center;
    text-transform: uppercase;
    font-size: 31px;
    color: black;
    font-weight: bold;
}

.cor2 {
    color: #e2d409;

}

.secao-3 li {
    margin-top: 40px;
    background: linear-gradient(#00c3fa, #0060eb);
    width: 300px;
    height: 400px;
    border-radius: 30px 10px;
    border-style: solid;
    border-width: 0px 0px 4px 0px;
    border-color: #feec00;
    box-shadow: 0px 13px 21px 0px rgb(0 0 0/56%);
    padding: 20px 20px 30px 20px;
    margin-bottom: 50px;
}

.secao-3 li h3 {
    font-family: Poppins;
    text-align: center;
    font-size: 24px;
    color: white;
    margin-top: 10px;
}

.secao-3 li p {
    font-family: Poppins;
    color: white;
    margin-top: 20px;
    text-align: center;
}

/* Style Secao 4 */
.secao-4 {
    width: 100%;
    height: 700px;
    background: #fafafa;
    margin-top: 80px;
}

.secao-4 h2 {
    font-family: Poppins;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 30px;
}

.secao-4 p {
    font-family: Poppins;
    font-weight: italic;
    color: black;
    text-transform: uppercase;
    margin-top: 50px;
}

.secao-4 li {
    font-family: Poppins;
    font-size: 18px;
    color: black;
}

.secao-4 ul{
    padding-top: 25px;
}

.eletricista {
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0px 13px 21px 0px rgb(0 0 0/56%);
}

.fa-solid {
    margin-right: 10px; 
    color: rgb(233, 168, 47);   
}

.cta .botao {
    margin-top: 30px;
}

.cor3 {
    color: #6a6a6a;
}

/* Style Secao 5 */
.secao-5 h2 {
    font-family: Poppins;
    text-align: center;
    text-transform: uppercase;
    font-size: 31px;
    color: black;
    font-weight: bold;
    margin-top: 30px;
    
}

.mapa {
    width: 100%;
    height: 550px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Style Secao 6 */
.secao-6 {
    width: 100%;
    height: 700px;
    margin-top: 80px;
}

.secao-6 h2 {
    font-family: Poppins;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 50px;
}

.secao-6 p {
    font-family: Poppins;
    font-weight: italic;
    color: black;
    text-transform: uppercase;
}

.secao-6 li {
    font-family: Poppins;
    font-size: 18px;
    color: black;
}

.secao-6 ul{
    padding-top: 25px;
}

.eletrica {
    margin-top: 50px;
    border-radius: 20px;
}

.canais h3{
    font-family: Montserrat;
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
    color: #0060eb;
}

.canais p {
    margin-top: 10px;
}